*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #e6e6e6;
}
.logo{
    display: block;
    margin: auto;
}
.navbar-nav{
    font-family: 'Hind', sans-serif;
    font-size: 14px;
}

.cards-padre-index{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 1rem;
    padding-top: 0rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.cards-padre{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 1rem;
    padding-top: 0rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.cards-padre-detalles{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 1rem;
    padding-top: 0rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.cards-hijo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    order: -1;
}
.card-body{
    padding-bottom: 1rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
}
.img-cards-index{
    width: 200px;
    height: 200px;
    margin-top: 1rem;
}
.img-cards{
    width: 200px;
    height: 200px;
    margin-top: 1rem;
}
.card-img-top{
    width: 200px;
    height: 200px;
    margin-top: 1rem;
}
.boton-cards{
    background-color: #1B213C;
    color: white;
    font-weight: 500;
    padding: 8px;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
}
.botones{
    color: white;
}
.boton-cards:hover{
    color: rgb(204, 204, 204);
    box-shadow: 0px 0px 30px -14px rgba(0,0,0,0.75);
}
.breadcrumb{
    color: #1B213C;
    background-color: #e6e6e6;
    margin: 0px;
    font-family:'Hind', sans-serif;
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    
}
.bajada{
    background-color: #e6e6e6;
}
.logo2{
    display: none;
}
.hijo1{
    justify-self: start;
}
.menu{
    background-color: #f8f9fa;
    padding: 1rem;
    list-style: none;
    font-family:'Hind', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.padre{
    display: grid;
    grid-template-columns: 25% 75%;
    justify-items: center;
}
.portada{
    height: 910px;
    width: 100%;
    background-repeat: no-repeat;
}
#nuestros-servicios{
    background-color: #e6e6e6;
    border-radius: 50px 50px 50px 50px;
    font-size: 18px;
    margin-right: 8rem;
    margin-left: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}
#como-comprar{
    font-size: 18px;
    margin-right: 8rem;
    margin-left: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}
h1{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
}
.h2index{
    color: black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
}
h2{
    color: black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
}
p{
    color: black;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
}
ul{
    list-style: none;
}
footer{
    background-color: #e6e6e6;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.row{
    margin: 3rem;
}
.card-text{
    text-align: start;
    margin-left: 2px;
    margin-right: 2px;
}
/*MEDIA QUERIES*/
@media screen and (max-width:768px){
.logo{
    width: 768px;
    }
.bajada{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 10px;
    }
.logo2{
        display: none;
    }
.bajada2{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
#nuestros-servicios, #como-comprar{
    font-size: 16px;
    margin-left: 4rem;
    margin-right: 4rem;
}
.cards-padre{
    grid-template-columns: repeat(3,3fr);
}
p{
    font-size: 16px;
    margin-left: 4rem;
    margin-right: 4rem;
}
}
@media screen and (max-width:425px){
.logo{
    width: 425px;
    display:none
    }
.bajada{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    font-size: 9px;
    }
    .logo2{
        display: block;
        background-color: #e6e6e6;
        padding-top: 0rem;
        padding-bottom: 0rem;
        width: 425px;
    }
.bajada2{
        display: none;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
    }
#nuestros-servicios, #como-comprar{
        font-size: 12px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
.cards-padre-index{
        grid-template-columns: 1fr;
        padding-left: 0rem;
        padding-right: 0rem;
    }
.cards-padre{
    grid-template-columns: repeat(3,3fr);
    padding-top: 0rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    gap: 0rem;
}
.cards-padre-detalles{
    grid-template-columns: 1fr;
    padding-left: 0rem;
    padding-right: 0rem;
}
.img-cards-index{
    width: 200px;
    height: 200px;
    margin-top: 0rem;
}
.img-cards{
    width: 130px;
    height: 130px;
    margin-top: 1rem;
}
.boton-cards{
    font-size: 12px;
    padding: 4px;
}
.h2index{
    font-size: 24px;
}
h2{
    font-size: 14px;
}
    p{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width:393px){
    .logo{
        width: 393px;
        display:none
        }
    .bajada{
        padding-top: 1rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 9px;
        }
        .logo2{
            display: inline;
            padding-top: 0rem;
            padding-bottom: 0rem;
            width: 393px;
        }
    .bajada2{
        display: none;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        }
#nuestros-servicios, #como-comprar{
            font-size: 12px;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .cards-padre-index{
            grid-template-columns: 1fr;
            padding-left: 0rem;
            padding-right: 0rem;
        }
    .cards-padre{
        grid-template-columns: repeat(3,3fr);
        padding-top: 0rem;
        padding-bottom: 2rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        gap: 0rem;
    }
    .cards-padre-detalles{
        grid-template-columns: 1fr;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .img-cards-index{
        width: 200px;
        height: 200px;
        margin-top: 0rem;
    }
    .img-cards{
        width: 120px;
        height: 120px;
        margin-top: 1rem;
    }
        p{
            margin-left: 1rem;
            margin-right: 1rem;
        }
}
@media screen and (max-width:375px){
    .logo{
        width: 375px;
        display:none
        }
    .bajada{
        padding-top: 1rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 9px;
        }
        .logo2{
            display: inline;
            padding-top: 0rem;
            padding-bottom: 0rem;
            width: 375px;
        }
    .bajada2{
        display: none;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        }
#nuestros-servicios, #como-comprar{
            font-size: 12px;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .cards-padre-index{
            grid-template-columns: 1fr;
            padding-left: 0rem;
            padding-right: 0rem;
        }
    .cards-padre{
        grid-template-columns: repeat(3,3fr);
        padding-top: 0rem;
        padding-bottom: 2rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        gap: 0rem;
    }
    .cards-padre-detalles{
        grid-template-columns: 1fr;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .img-cards-index{
        width: 190px;
        height: 190px;
        margin-top: 0rem;
    }
    .img-cards{
        width: 120px;
        height: 120px;
        margin-top: 1rem;
    }
        p{
            margin-left: 1rem;
            margin-right: 1rem;
        }
}
@media screen and (max-width: 320px){
.logo{
    width: 320px;
    display:none
    }.bajada{
        padding-top: 1rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 8px;
        }
        .logo2{
            display: inline;
            padding-top: 0rem;
            padding-bottom: 0rem;
            width: 320px
        }
        .bajada2{
            display: none;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            padding-right: 0.1rem;
            padding-left: 0.1rem;
        }
#nuestros-servicios, #como-comprar{
            font-size: 10px;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .cards-padre-index{
            grid-template-columns: 1fr;
            padding-left: 0rem;
            padding-right: 0rem;
        }
        .cards-padre{
            grid-template-columns: repeat(3,3fr);
            padding-top: 0rem;
            padding-bottom: 1.5rem;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            gap: 0rem;
        }
        .cards-padre-detalles{
            grid-template-columns: 1fr;
            padding-left: 0rem;
            padding-right: 0rem;
        }
        .img-cards-index{
            width: 190px;
            height: 190px;
            margin-top: 0rem;
        }
        .img-cards{
            width: 100px;
            height: 100px;
            margin-top: 1rem;
        }
        .boton-cards{
            font-size: 10px;
            padding: 4px;
        }
        .h2index{
            font-size: 22px;
        }
        h2{
            font-size: 12px;
        }
        li{
            padding: 2px;
        }
        .productos{
            height: 90%;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
        p{
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
